<img src="/img/light_background.jpg" style="width:100%; position:absolute; z-index:-1">
<div>
    <h1 class="mt-5 text-center fw-bold mb-5" style="color:rgba(43,99,137,255);text-shadow: 0px 1px 3px rgba(0,0,0,0.3);">
        Thêm/Xóa/Sửa loại kỳ hạn</h1>
    <div class="d-flex justify-content-around m-auto">
        <div class="card " style="margin: 2vh; width:33%;border-radius:20px;
        box-shadow: inset 0 0.5px 6px rgba(0,0,0,0.5);">
            <div class="card-body flex-column justify-content-between align-items-center d-flex">
                <form class="container" action="/rules/add" id="rules-add">
                    <h2 class="text-center fw-bold">Thêm</h2>
                    <span class="w-100 bg-dark" style="height: 2px; display: block; content: "";"></span>
                    <div class="mt-3 d-flex flex-column container">
                        <label class="mb-3 fs-3 fw-bold text-center" for="kyhan_them">Loại kỳ hạn thêm: </label>
                        <input type="text" name="kyhan_them" placeholder="# Nhập loại kỳ hạn muốn thêm"
                            style="font-size: 20px; ">
                        <div class="err1 text-danger"></div>
                    </div>
                    <div class="mt-3 d-flex flex-column container">
                        <label class="mb-3 fs-3 fw-bold text-center" for="thang">Thời hạn: </label>
                        <input type="text" name="thang" placeholder="# Nhập thời hạn cho kỳ hạn muốn thêm"
                            style="font-size: 20px;">
                        <div class="err2 text-danger"></div>
                    </div>
                    <div class="mt-3 d-flex flex-column container">
                        <label class="mb-3 fs-3 fw-bold text-center" for="laisuat">Lãi suất: </label>
                        <input type="text" name="laisuat" placeholder="# Nhập lãi suất cho kỳ hạn muốn thêm"
                            style="font-size: 20px;">
                        <div class="err3 text-danger"></div>
                    </div>
                </form>
                <div class="container flex-column justify-content-between align-items-center d-flex">
                    <button id="add-submit" type="button" class="mt-3 fw-bold fs-4 w-75 text-black btn btn-success">Thêm</button>
                </div>
            </div>
        </div>
        <div class="card " style="margin: 2vh; width:33%;border-radius:20px;
        box-shadow: inset 0 0.5px 6px rgba(0,0,0,0.5);">
            <form action="/rules/remove" method="post" name="remove" id="rules-remove" class="card-body flex-column justify-content-between align-items-center d-flex">
                <div class="container">
                    <h2 class="text-center fw-bold">Xóa</h2>
                    <span class="w-100 bg-dark" style="height: 2px; display: block; content: "";"></span>
                    <div class="mt-5 d-flex flex-column container">
                        <label class="mb-3 fs-3 fw-bold text-center" for="kyhan_xoa">Loại kỳ hạn xóa: </label>
                        <input type="text" name="kyhan_xoa" placeholder="# Nhập loại kỳ hạn muốn xóa"
                            style="font-size: 20px; ">
                    </div>
                </div>
                <div class="container flex-column justify-content-between align-items-center d-flex">
                    <button id="remove-submit" type="button" class="mt-3 fw-bold fs-4 w-75 text-black btn btn-danger">Xóa</button>
                </div>
            </form>
        </div>
        <div class="card " style="margin: 2vh;width:33%;border-radius:20px;
        box-shadow: inset 0 0.5px 6px rgba(0,0,0,0.5);">
            <form class="card-body" method="post" name="edit" action="/rules/edit" id="rules-edit">
                <h2 class="text-center fw-bold">Sửa</h2>
                <span class="w-100 bg-dark" style="height: 2px; display: block; content: "";"></span>
                <div class="input-container mt-5">
                    <div class="d-flex flex-column container">
                        <label class="mb-3 fs-3 fw-bold text-center" for="kyhan_sua">Loại kỳ hạn gốc: </label>
                        <input type="text" name="kyhan_sua" placeholder="# Nhập loại kỳ hạn muốn sửa"
                            style="font-size: 20px; ">
                        <div class="err5 text-danger"></div>
                    </div>
                    <div class="d-flex flex-column container mt-5">
                        <label class="mb-3 fs-3 fw-bold text-center" for="kyhan_moi">Loại kỳ hạn sau khi sửa: </label>
                        <input type="text" name="kyhan_moi" placeholder="# Kỳ hạn sẽ sửa thành"
                            style="font-size: 20px; ">
                        <div class="err6 text-danger"></div>
                    </div>
                </div>
                <div class="container m-5">
                    <button id="edit-submit" type="button" class="mt-3 fw-bold fs-4 w-75 text-black btn btn-warning">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
    <button type="button" onclick="history.back();"
        class="m-auto mt-5 ps-5 pe-5 d-flex fw-bold fs-4 text-black btn btn-light">Trở về</button>
</div>

{{> notification}}

<script>
    async function postFormDataAsJson({ url, formData }) {
        const plainFormData = Object.fromEntries(formData.entries());
        const formDataJsonString = JSON.stringify(plainFormData);

        const fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                Accept: "application/json",
            },
            body: formDataJsonString,
        };

        const response = await fetch(url, fetchOptions);

        if (!response.ok) {
            const errorMessage = await response.text();
            throw new Error(errorMessage);
        }

        return response.json();
    }

    async function handleFormSubmit(event) {        
        event.preventDefault();
        const form = event.currentTarget;
        const url = form.action;

        try {
            const formData = new FormData(form);
            const responseData = await postFormDataAsJson({ url, formData });
            return responseData;
        }
        catch (error) {
            console.error(error);
        }
    }

    $('#closeModal').click(function () {
        $('#myModal').css('display', 'none');
        window.location.reload();
    });

    $("#rules-add").on("submit", async (e) => {
        try {
            const responseData = await handleFormSubmit(e);
            if (responseData.code === 1) {    
                $(`.err1`).html(responseData[`err1`]);
                $(`.err2`).html(responseData[`err2`]);
                $(`.err3`).html(responseData[`err3`]);
            } else {
                $('#notificationTextbox').val('Thêm thành công')
                $('#myModal').css('display', '');            
            }
        }
        catch (err) {
            $('#notificationTextbox').val(err);
            $('#myModal').css('display', '');            
        }
        
    });

    $("#rules-remove").on("submit", async (e) => {
        try {
            const responseData = await handleFormSubmit(e);    
            $('#notificationTextbox').val(responseData.noti)
            $('#myModal').css('display', '');
        }
        catch (err) {
            $('#notificationTextbox').val(err);
            $('#myModal').css('display', '');
        }                
    });    

    $("#rules-edit").on("submit", async (e) => {
        try {
            const responseData = await handleFormSubmit(e);    
            $('#notificationTextbox').val(responseData.noti)
            $('#myModal').css('display', '');
        }
        catch (err) {
            $('#notificationTextbox').val(err);
            $('#myModal').css('display', '');
        }            
    });

    $("#add-submit").on("click", () => {        
        $("#rules-add").trigger('submit');
    })
    $("#remove-submit").on("click", () => {        
        $("#rules-remove").trigger('submit');
    })
    $("#edit-submit").on("click", () => {        
        $("#rules-edit").trigger('submit');
    })
    
</script>