<h1 class="text-center fw-bold mb-5">Thay đổi quy định</h1>
<div class="d-flex justify-content-around m-auto">
    <div class="card w-75 rounded">        
        <div class="card-body">
            <div class="container p-3 rounded text-center">
                <h3 class="row mt-3 text-center fw-bold">Tiền gửi tối thiểu</h3>
                <div class="row mt-2">
                    <div class="col fs-4 text-primary fw-bold">Ban đầu:</div>
                    <div class="col fs-5 text-primary text-start">xx.xxx.xx</div>
                    <div class="col fs-4 text-primary fw-bold">VNĐ</div>
                </div>
                <div class="row mt-3">
                    <label for="minimum_money" class="col fs-4 text-primary fw-bold">Cập nhật:</label>
                    <input class="col w-100 fs-5 text-start" type="text" name="minimum_money" id="minimum_money" placeholder="# Bỏ trống nếu không cần nhập">
                    <div class="col fs-4 text-primary fw-bold">VNĐ</div>
                </div>

                <h3 class="row mt-2 text-center fw-bold">Thời gian gửi tối thiểu</h3>
                <div class="row mt-2">
                    <div class="col fs-4 text-primary fw-bold">Ban đầu:</div>
                    <div class="col fs-5 text-primary text-start">yy</div>
                    <div class="col fs-4 text-primary fw-bold">ngày</div>
                </div>
                <div class="row mt-3">
                    <label for="minimum_day" class="col fs-4 text-primary fw-bold">Cập nhật:</label>
                    <input class="col w-100 fs-5 text-start" type="text" name="minimum_day" id="minimum_day" placeholder="# Bỏ trống nếu không cần nhập">
                    <div class="col fs-4 text-primary fw-bold">ngày</div>
                </div>
            </div>
        </div>        
    </div>
</div>    
<div class="mt-5 d-flex justify-content-around w-75 m-auto">
    <button type="button" class=" ps-5 pe-5 fw-bold fs-4 text-black btn btn-secondary">Trở về</button>                
    <button type="button" class="ps-5 pe-5 fw-bold fs-4 text-black btn btn-success">Xác nhận</button>                
</div>